$white: #eee;
$black: #111;

$primary: green;
$secondary: purple;

$header-background: $black;
$header-color: $white;
$body-font: 'Roboto', sans-serif;
$body-background: $white;
$body-color: $black;

$standard-padding: 20px;
